<div class="flex">
  <p>Someone has shared the below static image with you.</p>
  <%= link_to "Start a new drawing!", new_drawing_path() %>
</div>

<div class="flex">
  <%= image_tag(@drawing.imgUrl, :alt => "#{@drawing.id}.png") %>
</div>