<a href="/"><h1 class="flex">Collaborative Doodles</h1></a>
  <div class="flex">
    <h3>A project by <a href="http://wsimons.com">Will Simons</a>, <a href="">Mike Phe</a>, and <a href="">Brian Guilliardi.</a></h3>
  </div>
<%= yield %>